doctype html
head
    meta(charset='utf-8')
    title #{title}
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    meta(content='' name='keywords')
    meta(content='' name='description')
    // Favicons
    link(href='img/favicon.png' rel='icon')
    link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700' rel='stylesheet')
    // Bootstrap CSS File
    link(href='lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Libraries CSS Files
    link(href='lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
    link(href='lib/animate/animate.min.css' rel='stylesheet')
    link(href='lib/ionicons/css/ionicons.min.css' rel='stylesheet')
    link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
    link(href='lib/lightbox/css/lightbox.min.css' rel='stylesheet')
    // Main Stylesheet File
    link(href='css/style.css' rel='stylesheet')
header#header.fixed-top
    .container
        .logo.float-left
            // Uncomment below if you prefer to use an image logo
            // <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1>
            a.scrollto(href='#intro')
                img.img-fluid(src='img/logo.png' alt='')
        nav.main-nav.float-right.d-none.d-lg-block
            ul
                li.active
                    a(href='#intro') Home
                li
                    a(href='#about') About Us
                li
                    a(href='#services') Services
                li
                    a(href='#portfolio') Portfolio
                li
                    a(href='#team') Team
                li.drop-down
                    a(href='') Drop Down
                    ul
                        li
                            a(href='#') Drop Down 1
                        li.drop-down
                            a(href='#') Drop Down 2
                            ul
                                li
                                    a(href='#') Deep Drop Down 1
                                li
                                    a(href='#') Deep Drop Down 2
                                li
                                    a(href='#') Deep Drop Down 3
                                li
                                    a(href='#') Deep Drop Down 4
                                li
                                    a(href='#') Deep Drop Down 5
                        li
                            a(href='#') Drop Down 3
                        li
                            a(href='#') Drop Down 4
                        li
                            a(href='#') Drop Down 5
                li
                    a(href='#contact') Contact Us
        // .main-nav
// #header
//
    ==========================
    Intro Section
    ============================
section#intro.clearfix
    .container
        .intro-img
            img.img-fluid(src='img/intro-img.svg' alt='')
        .intro-info
            h2
                | We provide
                br
                span solutions
                br
                | for your business!
            div
                a.btn-get-started.scrollto(href='#about') Get Started
                a.btn-services.scrollto(href='#services') Our Services
// #intro
main#main
    //
        ==========================
        About Us Section
        ============================
    section#about
        .container
            header.section-header
                h3 About Us
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row.about-container
                .col-lg-6.content.order-lg-1.order-2
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .icon-box.wow.fadeInUp
                        .icon
                            i.fa.fa-shopping-bag
                        h4.title
                            a(href='') Eiusmod Tempor
                        p.description
                            | Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
                    .icon-box.wow.fadeInUp(data-wow-delay='0.2s')
                        .icon
                            i.fa.fa-photo
                        h4.title
                            a(href='') Magni Dolores
                        p.description
                            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    .icon-box.wow.fadeInUp(data-wow-delay='0.4s')
                        .icon
                            i.fa.fa-bar-chart
                        h4.title
                            a(href='') Dolor Sitema
                        p.description
                            | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
                .col-lg-6.background.order-lg-2.order-1.wow.fadeInUp
                    img.img-fluid(src='img/about-img.svg' alt='')
            .row.about-extra
                .col-lg-6.wow.fadeInUp
                    img.img-fluid(src='img/about-extra-1.svg' alt='')
                .col-lg-6.wow.fadeInUp.pt-5.pt-lg-0
                    h4 Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.
                    p
                        | Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
                    p
                        | Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
            .row.about-extra
                .col-lg-6.wow.fadeInUp.order-1.order-lg-2
                    img.img-fluid(src='img/about-extra-2.svg' alt='')
                .col-lg-6.wow.fadeInUp.pt-4.pt-lg-0.order-2.order-lg-1
                    h4
                        | Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.
                    p
                        | Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt.
                    p
                        | Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                    p
                        | Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
    // #about
    //
        ==========================
        Services Section
        ============================
    section#services.section-bg
        .container
            header.section-header
                h3 Services
                p
                    | Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.
            .row
                .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-duration='1.4s')
                    .box
                        .icon
                            i.ion-ios-analytics-outline(style='color: #ff689b;')
                        h4.title
                            a(href='') Lorem Ipsum
                        p.description
                            | Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
                .col-md-6.col-lg-5.wow.bounceInUp(data-wow-duration='1.4s')
                    .box
                        .icon
                            i.ion-ios-bookmarks-outline(style='color: #e9bf06;')
                        h4.title
                            a(href='') Dolor Sitema
                        p.description
                            | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
                .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
                    .box
                        .icon
                            i.ion-ios-paper-outline(style='color: #3fcdc7;')
                        h4.title
                            a(href='') Sed ut perspiciatis
                        p.description
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                .col-md-6.col-lg-5.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
                    .box
                        .icon
                            i.ion-ios-speedometer-outline(style='color:#41cf2e;')
                        h4.title
                            a(href='') Magni Dolores
                        p.description
                            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
                    .box
                        .icon
                            i.ion-ios-world-outline(style='color: #d6ff22;')
                        h4.title
                            a(href='') Nemo Enim
                        p.description
                            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                .col-md-6.col-lg-5.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
                    .box
                        .icon
                            i.ion-ios-clock-outline(style='color: #4680ff;')
                        h4.title
                            a(href='') Eiusmod Tempor
                        p.description
                            | Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
    // #services
    //
        ==========================
        Why Us Section
        ============================
    section#why-us.wow.fadeIn
        .container
            header.section-header
                h3 Why choose us?
                p
                    | Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.
            .row.row-eq-height.justify-content-center
                .col-lg-4.mb-4
                    .card.wow.bounceInUp
                        i.fa.fa-diamond
                        .card-body
                            h5.card-title Corporis dolorem
                            p.card-text
                                | Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.
                            a.readmore(href='#') Read more 
                .col-lg-4.mb-4
                    .card.wow.bounceInUp
                        i.fa.fa-language
                        .card-body
                            h5.card-title Voluptates dolores
                            p.card-text
                                | Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.
                            a.readmore(href='#') Read more 
                .col-lg-4.mb-4
                    .card.wow.bounceInUp
                        i.fa.fa-object-group
                        .card-body
                            h5.card-title Eum ut aspernatur
                            p.card-text
                                | Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex.
                            a.readmore(href='#') Read more 
            .row.counters
                .col-lg-3.col-6.text-center
                    span(data-toggle='counter-up') 274
                    p Clients
                .col-lg-3.col-6.text-center
                    span(data-toggle='counter-up') 421
                    p Projects
                .col-lg-3.col-6.text-center
                    span(data-toggle='counter-up') 1,364
                    p Hours Of Support
                .col-lg-3.col-6.text-center
                    span(data-toggle='counter-up') 18
                    p Hard Workers
    //
        ==========================
        Portfolio Section
        ============================
    section#portfolio.clearfix
        .container
            header.section-header
                h3.section-title Our Portfolio
            .row
                .col-lg-12
                    ul#portfolio-flters
                        li.filter-active(data-filter='*') All
                        li(data-filter='.filter-app') App
                        li(data-filter='.filter-card') Card
                        li(data-filter='.filter-web') Web
            .row.portfolio-container
                .col-lg-4.col-md-6.portfolio-item.filter-app
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/app1.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') App 1
                            p App
                            div
                                a.link-preview(href='img/portfolio/app1.jpg' data-lightbox='portfolio' data-title='App 1' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-web(data-wow-delay='0.1s')
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/web3.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') Web 3
                            p Web
                            div
                                a.link-preview(href='img/portfolio/web3.jpg' data-lightbox='portfolio' data-title='Web 3' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-app(data-wow-delay='0.2s')
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/app2.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') App 2
                            p App
                            div
                                a.link-preview(href='img/portfolio/app2.jpg' data-lightbox='portfolio' data-title='App 2' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-card
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/card2.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') Card 2
                            p Card
                            div
                                a.link-preview(href='img/portfolio/card2.jpg' data-lightbox='portfolio' data-title='Card 2' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-web(data-wow-delay='0.1s')
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/web2.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') Web 2
                            p Web
                            div
                                a.link-preview(href='img/portfolio/web2.jpg' data-lightbox='portfolio' data-title='Web 2' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-app(data-wow-delay='0.2s')
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/app3.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') App 3
                            p App
                            div
                                a.link-preview(href='img/portfolio/app3.jpg' data-lightbox='portfolio' data-title='App 3' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-card
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/card1.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') Card 1
                            p Card
                            div
                                a.link-preview(href='img/portfolio/card1.jpg' data-lightbox='portfolio' data-title='Card 1' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-card(data-wow-delay='0.1s')
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/card3.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') Card 3
                            p Card
                            div
                                a.link-preview(href='img/portfolio/card3.jpg' data-lightbox='portfolio' data-title='Card 3' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
                .col-lg-4.col-md-6.portfolio-item.filter-web(data-wow-delay='0.2s')
                    .portfolio-wrap
                        img.img-fluid(src='img/portfolio/web1.jpg' alt='')
                        .portfolio-info
                            h4
                                a(href='#') Web 1
                            p Web
                            div
                                a.link-preview(href='img/portfolio/web1.jpg' data-lightbox='portfolio' data-title='Web 1' title='Preview')
                                    i.ion.ion-eye
                                a.link-details(href='#' title='More Details')
                                    i.ion.ion-android-open
    // #portfolio
    //
        ==========================
        Clients Section
        ============================
    section#testimonials.section-bg
        .container
            header.section-header
                h3 Testimonials
            .row.justify-content-center
                .col-lg-8
                    .owl-carousel.testimonials-carousel.wow.fadeInUp
                        .testimonial-item
                            img.testimonial-img(src='img/testimonial-1.jpg' alt='')
                            h3 Saul Goodman
                            h4 Ceo &amp; Founder
                            p
                                | Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        .testimonial-item
                            img.testimonial-img(src='img/testimonial-2.jpg' alt='')
                            h3 Sara Wilsson
                            h4 Designer
                            p
                                | Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        .testimonial-item
                            img.testimonial-img(src='img/testimonial-3.jpg' alt='')
                            h3 Jena Karlis
                            h4 Store Owner
                            p
                                | Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        .testimonial-item
                            img.testimonial-img(src='img/testimonial-4.jpg' alt='')
                            h3 Matt Brandon
                            h4 Freelancer
                            p
                                | Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        .testimonial-item
                            img.testimonial-img(src='img/testimonial-5.jpg' alt='')
                            h3 John Larson
                            h4 Entrepreneur
                            p
                                | Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
    // #testimonials
    //
        ==========================
        Team Section
        ============================
    section#team
        .container
            .section-header
                h3 Team
                p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            .row
                .col-lg-3.col-md-6.wow.fadeInUp
                    .member
                        img.img-fluid(src='img/team-1.jpg' alt='')
                        .member-info
                            .member-info-content
                                h4 Walter White
                                span Chief Executive Officer
                                .social
                                    a(href='')
                                        i.fa.fa-twitter
                                    a(href='')
                                        i.fa.fa-facebook
                                    a(href='')
                                        i.fa.fa-google-plus
                                    a(href='')
                                        i.fa.fa-linkedin
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
                    .member
                        img.img-fluid(src='img/team-2.jpg' alt='')
                        .member-info
                            .member-info-content
                                h4 Sarah Jhonson
                                span Product Manager
                                .social
                                    a(href='')
                                        i.fa.fa-twitter
                                    a(href='')
                                        i.fa.fa-facebook
                                    a(href='')
                                        i.fa.fa-google-plus
                                    a(href='')
                                        i.fa.fa-linkedin
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
                    .member
                        img.img-fluid(src='img/team-3.jpg' alt='')
                        .member-info
                            .member-info-content
                                h4 William Anderson
                                span CTO
                                .social
                                    a(href='')
                                        i.fa.fa-twitter
                                    a(href='')
                                        i.fa.fa-facebook
                                    a(href='')
                                        i.fa.fa-google-plus
                                    a(href='')
                                        i.fa.fa-linkedin
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
                    .member
                        img.img-fluid(src='img/team-4.jpg' alt='')
                        .member-info
                            .member-info-content
                                h4 Amanda Jepson
                                span Accountant
                                .social
                                    a(href='')
                                        i.fa.fa-twitter
                                    a(href='')
                                        i.fa.fa-facebook
                                    a(href='')
                                        i.fa.fa-google-plus
                                    a(href='')
                                        i.fa.fa-linkedin
    // #team
    //
        ==========================
        Clients Section
        ============================
    section#clients.section-bg
        .container
            .section-header
                h3 Our CLients
                p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.
            .row.no-gutters.clients-wrap.clearfix.wow.fadeInUp
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-1.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-2.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-3.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-4.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-5.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-6.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-7.png' alt='')
                .col-lg-3.col-md-4.col-xs-6
                    .client-logo
                        img.img-fluid(src='img/clients/client-8.png' alt='')
    //
        ==========================
        Contact Section
        ============================
    section#contact
        .container-fluid
            .section-header
                h3 Contact Us
            .row.wow.fadeInUp
                .col-lg-6
                    .map.mb-4.mb-lg-0
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621' frameborder='0' style='border:0; width: 100%; height: 312px;' allowfullscreen='')
                .col-lg-6
                    .row
                        .col-md-5.info
                            i.ion-ios-location-outline
                            p A108 Adam Street, NY 535022
                        .col-md-4.info
                            i.ion-ios-email-outline
                            p info@example.com
                        .col-md-3.info
                            i.ion-ios-telephone-outline
                            p +1 5589 55488 55
                    .form
                        #sendmessage Your message has been sent. Thank you!
                        #errormessage
                        form.contactForm(action='' method='post' role='form')
                            .form-row
                                .form-group.col-lg-6
                                    input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                                    .validation
                                .form-group.col-lg-6
                                    input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                                    .validation
                            .form-group
                                input#subject.form-control(type='text' name='subject' placeholder='Subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                                .validation
                            .form-group
                                textarea.form-control(name='message' rows='5' data-rule='required' data-msg='Please write something for us' placeholder='Message')
                                .validation
                            .text-center
                                button(type='submit' title='Send Message') Send Message
    // #contact
//
    ==========================
    Footer
    ============================
footer#footer
    .footer-top
        .container
            .row
                .col-lg-4.col-md-6.footer-info
                    h3 NewBiz
                    p
                        | Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.
                .col-lg-2.col-md-6.footer-links
                    h4 Useful Links
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') About us
                        li
                            a(href='#') Services
                        li
                            a(href='#') Terms of service
                        li
                            a(href='#') Privacy policy
                .col-lg-3.col-md-6.footer-contact
                    h4 Contact Us
                    p
                        | A108 Adam Street 
                        br
                        |               New York, NY 535022
                        br
                        |               United States 
                        br
                        strong Phone:
                        |  +1 5589 55488 55
                        br
                        strong Email:
                        |  info@example.com
                        br
                    .social-links
                        a.twitter(href='#')
                            i.fa.fa-twitter
                        a.facebook(href='#')
                            i.fa.fa-facebook
                        a.instagram(href='#')
                            i.fa.fa-instagram
                        a.google-plus(href='#')
                            i.fa.fa-google-plus
                        a.linkedin(href='#')
                            i.fa.fa-linkedin
                .col-lg-3.col-md-6.footer-newsletter
                    h4 Our Newsletter
                    p
                        | Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.
                    form(action='' method='post')
                        input(type='email' name='email')
                        input(type='submit' value='Subscribe')
    .container
        .copyright
            | &copy; Copyright 
            strong NewBiz
            | . All Rights Reserved
        .credits
            //
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
            | Designed by 
            a(href='https://bootstrapmade.com/') BootstrapMade
// #footer
a.back-to-top(href='#')
    i.fa.fa-chevron-up
// Uncomment below i you want to use a preloader
// <div id="preloader"></div>
// JavaScript Libraries
script(src='lib/jquery/jquery.min.js')
script(src='lib/jquery/jquery-migrate.min.js')
script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/mobile-nav/mobile-nav.js')
script(src='lib/wow/wow.min.js')
script(src='lib/waypoints/waypoints.min.js')
script(src='lib/counterup/counterup.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/isotope/isotope.pkgd.min.js')
script(src='lib/lightbox/js/lightbox.min.js')
// Contact Form JavaScript File
script(src='contactform/contactform.js')
// Template Main Javascript File
script(src='js/main.js')
